@model IEnumerable<JobPortalManagementSystem.Models.JobPost>

@{
    Layout = "~/Views/Admin/AdminLayoutpage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllPosts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        td:last-child {
            text-align: center;
        }

        .action-links {
            display: flex;
            justify-content: center;
        }

            .action-links a {
                padding: 5px 10px;
                margin: 0 5px;
                color: #fff;
                background-color: #007bff;
                text-decoration: none;
                border-radius: 3px;
            }

                .action-links a:hover {
                    background-color: #0056b3;
                }

        .create-button {
            text-align: left;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="create-button">
        @Html.ActionLink("Create New", "AddPost")
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Min Salary</th>
            <th>Max Salary</th>
            <th>Post Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>Job Category</th>
            <th>Job Nature</th>
            <th>Category ID</th>
            <th>Company Name</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.title)</td>
                <td>@Html.DisplayFor(modelItem => item.location)</td>
                <td>@Html.DisplayFor(modelItem => item.minSalary)</td>
                <td>@Html.DisplayFor(modelItem => item.maxSalary)</td>
                <td>@Html.DisplayFor(modelItem => item.postDate)</td>
                <td>@Html.DisplayFor(modelItem => item.endDate)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.jobCategory)</td>
                <td>@Html.DisplayFor(modelItem => item.jobNature)</td>
                <td>@Html.DisplayFor(modelItem => item.categoryId)</td>
                <td>@Html.DisplayFor(modelItem => item.companyName)</td>
                <td class="action-links">
                    @Html.ActionLink("Edit", "EditJobPost", new { Id = item.Id })
                    @Html.ActionLink("Delete", "DeleteJobPost", new { Id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
