@model IEnumerable<JobPortal_ManagementSystem.Models.JobApplication>

@{
    ViewBag.Title = "ViewAppliedJobs";
    Layout = "~/Views/Admin/AdminLayoutpage.cshtml";
}


<style>
    /* Custom CSS for table appearance */
    .table-responsive {
        margin: 50px;
        min-height: 400px;
    }

    .table {
        text-align: center; /* Center-align table content */
    }

        tr .table th,
        .table td {
            vertical-align: middle;
        }

    .colored-box {
        background-color: cadetblue !important;
        color: #343a40;
        padding: 10px;
        border: 1px solid #dee2e6;
    }

        .colored-box:hover {
            background-color: #e2e6ea;
        }


    h2 {
        text-align: center;
        padding-bottom: 20px;
    }
</style>
<div class="table-responsive">
    <h2>View Applied Jobs</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="colored-box">@Html.DisplayNameFor(model => model.UserName)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.Email)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.jobPostId)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.applicationDate)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.title)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.companyName)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.skills)</th>
                <th class="colored-box">@Html.DisplayNameFor(model => model.resume)</th>
                <th class="colored-box">Actions</th> <!-- Add this column for buttons -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.jobPostId)</td>
                    <td>@Html.DisplayFor(modelItem => item.applicationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.title)</td>
                    <td>@Html.DisplayFor(modelItem => item.companyName)</td>
                    <td>@Html.DisplayFor(modelItem => item.skills)</td>
                    <td>
                        @if (item.resume != null && item.resume.Length > 0)
                        {
                            <div class="dt-container">
                               
                                <span class="dd-value"><a href="data:resume/pdf;base64,@Convert.ToBase64String(item.resume)" download="resume.pdf">Download Resume</a>
                            </div>
                        }

                    </td>
                    <td>
                        @if (!item.IsScheduled)
                        {
                            <div class="btn-group">
                                <div class="btn-group p-1">
                                    @Html.ActionLink("Interview", "ScheduleInterview", new { Id = item.Id }, new { @class = "btn btn-primary btn-sm mx-2" })
                                    @Html.ActionLink("Reject", "RejectApplication", new { Id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                                </div>



                            </div>
                        }
                        else
                        {
                            <span class="btn btn-success btn-sm">Interview Scheduled</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
