
@model JobPortalManagementSystem.Models.Signin

@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Home/HomeLayoutpage.cshtml";
}


<!DOCTYPE html>
<html>
    <head>
        <link href="~/Content/CSS/login.css" rel="stylesheet" />
    </head>

    <body>
        @using (Html.BeginForm("Signin", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <section class="h-100 gradient-form  gradient-custom-2" style="background-color: #eee;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-xl-10">
                            <div class="card rounded-3 text-black" style="height: 70vh;">
                                <div class="row g-0">
                                    <div class="col-lg-6">
                                        <div class="card-body p-md-2 mx-md-3" style="height: 70vh;">

                                            <div class="text-center">
                                                <img src="~/Content/Images/logo.png"
                                                     style="width: 130px;" alt="logo">
                                                <h4 class=" h1 fw-bold mb-0 mt-0  pb-1">Sign in</h4>
                                            </div>

                                            <form>
                                             

                                                <div class="form-outline mb-2">
                                                    @Html.LabelFor(m => m.username, "Username", new { @class = "label" })
                                                    @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "Enter your username", id = "username" })
                                                    @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger", id = "usernameValidation" })
                                                </div>

                                                <div class="form-outline mb-2">
                                                      @Html.LabelFor(m => m.password, "Password", new { @class = "label" })
                                                    @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Enter your password", id = "password" })
                                                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger", id = "passwordValidation" })

                                                </div>

                                                <div class="text-center pt-4 mb-6 pb-1 p-3">
                                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                                        Sign in
                                                    </button>
                                                  
                                                </div>

                                                <div class="d-flex align-items-center justify-content-center pb-4">
                                                    <p class="mb-0 me-2">Don't have an account? @Html.ActionLink("Signup now", "AddSignupDetails", "Home")</p>
                                                   
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                    <div class="col-lg-6  d-none d-md-block">

                                        <img src="~/Content/Images/signin.jpg"
                                                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:70vh;" />


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>















        }





    </body>
</html>