
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeLayoutpage</title>
    <link href="~/Content/CSS/Home.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/CSS/Home.css")" rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   

    <style>
        .btn0 {
            height: 52px !important;
            width: 130px !important;
            height: 52px !important;
            outline: none !important;
            border: none !important;
            color: white !important;
            cursor: pointer !important;
            transition: all 0.4s !important;
            background-color: rgb(248,83,83) !important;
            text-align: center;
            padding-top: 10px;
            text-decoration: none;
        }

            .btn0:hover {
                background: rgb(248,11,11);
                transition: all 0.4s;
            }

        .custom-dropdown-item {
            background-color: dodgerblue;
            color: black !important;
            border: 1px solid black;
            transition: color 0.3s;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        }

            .custom-dropdown-item:hover {
                color: red !important;
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
            }

        .dropdown-menu {
            width: 50px;
            padding: 0;
            text-align:center;
            left:10px;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">

            <a class="navbar-brand" href="#">
                <img src="~/Content/Images/logo.png" alt="Logo" height="75">
                Job Portal
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "UserHomepage", "User", null, new { @class = "nav-item nav-link" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Profile", "UserProfileDetails", "User", null, new { @class = "nav-item nav-link" })

                    </li>


                    <li class="nav-item ">

                        @Html.ActionLink("All jobs", "GetAllPosts", "User", null, new { @class = "nav-item nav-link" })

                    </li>
                    @*<li class="nav-item ">

                            @Html.ActionLink("Applied", "AppliedJobs", "User", null, new { @class = "nav-item nav-link" })

                        </li>
                        <li class="nav-item ">

                            @Html.ActionLink("Interview", "AllInterviews", "User", null, new { @class = "nav-item nav-link" })

                        </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="jobsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Job status
                        </a>
                        <div class="dropdown-menu" aria-labelledby="jobsDropdown">
                            @Html.ActionLink("Applied", "AppliedJobs", "User", null, new { @class = "dropdown-item custom-dropdown-item" })
                            @Html.ActionLink("Interview", "AllInterviews", "User", null, new { @class = "dropdown-item custom-dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item ">

                        @Html.ActionLink("About", "About", "User", null, new { @class = "nav-item nav-link" })

                    </li>
                    <li class="nav-item ">

                        @Html.ActionLink("Contact", "AddContact", "User", null, new { @class = "nav-item nav-link" })

                    </li>

                    @*<li class="nav-item">
                            <a href="@Url.Action("Logout", "User")" class="btn nav-link btn0 mx-2">Logout</a>
                        </li>*@

                </ul>
                <form class="d-flex" role="search">

                    @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "btn0 mx-2" })





                </form>

            </div>
        </div>
    </nav>
    @RenderBody()



    <footer class="text-center mt-0" style="background-color: #FFF4F3">
        <section class="mt-3">
            <div class="row text-center d-flex justify-content-center pt-5 mb-4">
                <div class="col-md-2">
                    <h6 class="font-weight-bold">
                        @Html.ActionLink("Home", "UserHomepage", "User", null, new { @class = "nav-item nav-link text-black" })
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="font-weight-bold">
                        @Html.ActionLink("Job", "GetAllPosts", "User", null, new { @class = "nav-item nav-link text-black" })
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="font-weight-bold">

                        @Html.ActionLink("About", "About", "User", null, new { @class = "nav-item nav-link text-black" })
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="font-weight-bold">
                        @Html.ActionLink("Contact", "AddContact", "User", null, new { @class = "nav-item nav-link text-black" })
                    </h6>
                </div>
            </div>
        </section>
        <hr class=" border-dark" />
        <section class="mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p class="text-black">
                        "If one advances confidently in the direction of his dreams, and endeavors to live the life which he has imagined, he will meet with a success unexpected in common hours." - Henry David Thoreau, writer. "Choose a job you love, and you will never have to work a day in your life."
                    </p>
                </div>
            </div>
        </section>
        <section class="text-center mb-3">
            <a href="https://www.facebook.com/" class="px-4" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/" class="px-4" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" class="px-4" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="px-4" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </section>
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">JobPortal.com</a>
        </div>
    </footer>


    <!-- End of .container -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</body>
</html>

