@model IEnumerable<JobPortalManagementSystem.Models.JobPost>

@{
    Layout = "~/Views/User/UserLayoutpage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewJobPost</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mb-4 w-100">
                    <div class="card-header">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.title)</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Location:</strong> @Html.DisplayFor(modelItem => item.location)</p>
                        <p class="card-text"><strong>Salary:</strong> $@Html.DisplayFor(modelItem => item.minSalary) - $@Html.DisplayFor(modelItem => item.maxSalary)</p>
                        <p class="card-text"><strong>Posted:</strong> @Html.DisplayFor(modelItem => item.postDate)</p>
                        <p class="card-text"><strong>End Date:</strong> @Html.DisplayFor(modelItem => item.endDate)</p>
                        <p class="card-text"><strong>Category:</strong> @Html.DisplayFor(modelItem => item.jobCategory)</p>
                        <p class="card-text"><strong>Nature:</strong> @Html.DisplayFor(modelItem => item.jobNature)</p>
                        <p class="card-text"><strong>Description:</strong> @Html.DisplayFor(modelItem => item.description)</p>
                    </div>
                   
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
